<img src="<%= Location.yelp_image_name(location) %>" alt="<%= location.name %>">
<div class="caption">
  <h5><%= "#{category}:" %></h5>
  <h4><%= truncate(location.name, length: 40) %></h4>
  <p><%= Location.address(location) %></p>
  <p><%= link_to 'Learn More', location_path(id: location.id, category: category), {class: "btn btn-primary btn-xs"} %>
  <a href="#" class="btn btn-primary btn-xs" role="button">Save to Faves</a></p>
</div>
